# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Large ML models (DO NOT COMMIT)
*.pth
*.pt

# YOLO / Ultralytics cache
runs/
yolo*/ 

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log